<div class="container" style="margin-top: 100px" *ngIf="command">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-5">
            <h2>Command {{command.id}}</h2>
          </div>
          <div class="w-100"></div>
          <div class="col-sm-7">
            <h3>{{command.date | date:'yyyy-MM-dd HH:mm'}}</h3>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Thumbnail</th>
          <th>Product</th>
          <th>Unit price</th>
          <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let productCommand of command.productsOrder; let i = index">
          <td>{{i + 1}}</td>
          <td>
            <img routerLink="/detail/{{productCommand.product.id}}"
                 src="{{productCommand.product.thumbnail}}" class="img-fluid rounded-circle"
                 width="100px"
                 height="100px"
                 alt="img"
            >
          </td>
          <td>
            {{productCommand.product.title}}
          </td>
          <td>${{productCommand.product.price}}</td>
          <td>{{productCommand.quantity}}</td>
          <td></td>
        </tr>
        <tr>
          <td><b>Total:</b></td>
          <td></td>
          <td></td>
          <td><b>${{command.totalPrice}}</b></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
